body {
   margin: 0;
   padding: 0;
   font: 14px "Century Gothic", Futura, sans-serif;
}

.container {
   margin: 20px;
}

header {
   color: rgb(11, 36, 90);
   font-size: 3em;
   font-weight: bold;
   text-align: center;
}

.game-row {
   display: flex;
   flex-direction: column;
}

section {
   justify-content: center;
   display: flex;
   padding: 20px;
}

.details > button {
   padding: 10px 15px;
   margin: 0px 10px;
   background: #fff;
   font-size: 20px;
   border-radius: 5px;
}

button.undo {
   background: white;
   border: 1px solid rgba(148, 17, 0, 0.829);
   transition: 0.4s;
}
button.reset {
   background: white;
   border: 1px solid rgba(44, 89, 187, 0.87);
   transition: 0.4s;
}
.undo:hover {
   border: 1px solid rgba(148, 17, 0, 0.829);
   cursor: pointer;
   color: white;
   background: rgba(148, 17, 0, 0.829);
   box-shadow: 0 4px 8px 0px #999;
}
.reset:hover {
   cursor: pointer;
   color: white;
   background: rgba(44, 89, 187, 0.87);
   border: 1px solid rgba(44, 89, 187, 0.87);
   box-shadow: 0 4px 8px 0px #999;
}
